services:
  db:
    image: postgres:15-alpine
    environment:
      - POSTGRES_DB=healthcare_etl
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 5s
      timeout: 5s
      retries: 5

  localstack:
    image: localstack/localstack:3
    ports:
      - "4566:4566"
    environment:
      - SERVICES=s3,sqs
      - LS_LOG=error
      - DOCKER_HOST=unix:///var/run/docker.sock
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:4566/_localstack/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    environment:
      - DEBUG=1
      - DATABASE_URL=postgres://postgres:postgres@db:5432/healthcare_etl
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_ENDPOINT_URL=http://localstack:4566
      - AWS_DEFAULT_REGION=us-east-1
      - CELERY_BROKER_URL=sqs://test:test@localstack:4566/0
    depends_on:
      db:
        condition: service_healthy
      localstack:
        condition: service_started

  terraform:
    image: hashicorp/terraform:latest
    container_name: django-aws-etl-terraform
    depends_on:
      localstack:
        condition: service_healthy
    volumes:
      - .:/workspace
    working_dir: /workspace
    entrypoint: [ "/bin/sh", "-c" ]
    command:
      - |
        terraform init
        terraform apply -auto-approve || exit 0

  celery:
    build: .
    command: celery -A config worker --loglevel=info
    volumes:
      - .:/app
    environment:
      - DEBUG=1
      - DATABASE_URL=postgres://postgres:postgres@db:5432/healthcare_etl
      - CELERY_BROKER_URL=sqs://test:test@localstack:4566/0
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - AWS_ENDPOINT_URL=http://localstack:4566
      - AWS_DEFAULT_REGION=us-east-1
    depends_on:
      db:
        condition: service_healthy
      localstack:
        condition: service_healthy
      terraform:
        condition: service_completed_successfully

volumes:
  postgres_data:
